@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #fafafb;
}

/*navigation bar*/
.navigation{
    padding-left: 65px;
    padding-right: 65px;
}
.navbar{
    background-color: #fff;
}
.navbar-nav{
    text-align: center;
    margin:auto;
}

.nav-item{
    font-size: 23px;
    font-weight: 600;
}

li.nav-right {
    list-style: none;
}

.notification {
    padding-right: 30px;
}

.notification i {
    font-size: 38px;
    color: #92929D;
}

.notification i:after {
    content: ".";
    color: #FC5A5A;
    font-size: 80px;
    position: absolute;
    top: -35px;
    right: 150px;
}

/*breadcrumb section*/

.breadcrumb{
    background: url('images/Frame\ 148.jpg') no-repeat center center;
    background-size: cover;
    height: 276px;
}

.search-box {
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.job-search {
    width: 35%;
}
.location {
    width: 30%;
}

.salary {
    width: 25%;
}

.search-btn {
    width: 10%;
}

input[type="text"] {
    padding-left: 35px;
}

.job-search input[type="text"] {
    background: #FFFFFF;
    box-shadow: inset -1px -1px 0px #f1f1f5;
    border-radius: 10px 0px 0px 10px;
    height: 60px;
    border: none;
    width: 100%;
}

.job-search img {
    position: relative;
    top: -42px;
    left: 10px;
}

.location input[type="text"] {
    background: #FFFFFF;
    box-shadow: inset -1px -1px 0px #f1f1f5;
    height: 60px;
    border: none;
    width: 100%;
}

.location img {
    position: relative;
    top: -42px;
    left: 10px;
}

.salary input[type="text"] {
    background: #FFFFFF;
    box-shadow: inset -1px -1px 0px #f1f1f5;
    height: 60px;
    border: none;
    width: 100%;
}

.salary img {
    position: relative;
    top: -42px;
    left: 10px;
}

.search-btn input[type="submit"] {
    background: #0062FF;
    box-shadow: inset -1px -1px 0px #f1f1f5;
    border-radius: 0px 10px 10px 0px;
    height: 60px;
    border: none;
    width: 100%;
    color: #fff;
}


/*content section*/
.content{
    padding-top: 50px;
}

.left-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 3px solid #0062FF;
}

.left-title-text {
    font-weight: 600;
    font-size: 16px;
}

.left-after-menu{
    padding-left: 10px;

}

.left-sub-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 0;
    margin-bottom: 10px;
}

.left-sub-title-text {
    font-weight: 700;
    font-size: 14px;
}

/*category select*/
.category {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 5px;
    align-items: center;
}

.blue-bg {
    background: #DEEBFF;
    border-radius: 5.55294px;
    color: #0052CC;
    padding: 2px 8px;
}

.category input[type="checkbox"] {
    width: 18px !important;
    height: 18px !important;
    margin: 5px;
    font-size: 2em;
    background-color: #DEEBFF !important;
    cursor: pointer;
}

.cat-left label {
    top: -8px;
    position: relative;
}


/*salary category*/
.slary-category {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/*right side job post*/
.right-top {
    display: flex;
    justify-content: space-between;
}

.filter {
    font-size: 16px;
    font-weight: 700;
}

.blue{
    color: #0062FF;
}

.sort {
    font-size: 14px;
    font-weight: 500;
    background-color: #f4f4f6;
    padding: 5px;
    border-radius: 10px;
    color: #8F92A1;
}

.sort select {
    border: none;
    background-color: transparent;
    font-weight: 700;
}

/*job post style*/
.job-post {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 18px;
    margin: 30px auto;
}

.job-post-top {
    display: flex;
    justify-content: space-between;
}

.post-name {
    font-size: 24px;
    font-weight: 700;
}

.job-location {
    display: flex;
    color: #0062FF;
    line-height: 26px;
}

.job-location-icon {
    margin-left: 10px;
}

.post-icon {
    display: flex;
    align-items: end;
}

.bookmark-icon {
    margin-right: 10px;
}

.bookmark-icon {
    margin-right: 10px;
    font-size: 18px;
    color: #34A853;
    padding: 4px 8px;
    border: 2px solid #34A853;
    border-radius: 7px;
}

.share-icon {
    margin-right: 10px;
    font-size: 18px;
    color: #0062FF;
    padding: 4px 6px;
    border: 2px solid #0062FF;
    border-radius: 7px;
}

.job-title {
    font-size: 12px;
    color: #34A853;
    line-height: 26px;
    font-weight: 500;
}

.job-cat {
    font-size: 12px;
    color: #979797;
    margin-right: 8px;
}

.post-content p {
    margin-bottom: 5px;
}

.post-time {
    font-size: 12px;
    color: #979797;
    margin-right: 8px;
}

.post-bottom {
    display: flex;
    justify-content: space-between;
}

.skill-list {
    display: flex;
    align-items: center;
}

.skills ul {
    display: flex;
    list-style: none;
    padding-left: 15px;
    margin: auto;
}

.skills ul li {
    margin-right: 15px;
    padding: 5px 8px;
    border: 1px solid #000;
    border-radius: 7px;
    background-color: #deebff;
    font-size: 10px;
}


.post-options {
    display: flex;
    align-items: center;
    text-align: center;
}

.msg-btn button {
    border: 1px solid #0062FF;
    border-radius: 7px;
    font-size: 10px;
    color: #0062FF;
    font-weight: 500;
    margin-right: 10px;
}

.view-btn button {
    border: 1px solid #0062FF;
    border-radius: 7px;
    font-size: 10px;
    background-color: #0062FF;
    font-weight: 500;
    color: #fff;
}

/*mobile device*/
.nav-mobile{
    display: none;
}

/*responsive*/
@media (max-width: 1199px){
    .cat-left label {
        font-size: 12px;
    }
}

@media (max-width: 991px){
    .left-after-menu {
        padding-left: 0;
    }

    .category input[type="checkbox"] {
        width: 13px !important;
        height: 12px !important;
        margin: 0;
        font-size: 1em;
    }

    .blue-bg {
        padding: 2px 2px;
        font-size: 12px;
    }
    .cat-left label {
        font-size: 11px;
        top: 0px;
    }

    .salary-cat-left {
        font-size: 14px;
    }
}

@media (max-width: 767px){
    .nav-desktop{
        display: none;
    }

    .nav-mobile{
        display: block;
    }

    .breadcrumb{
        display: none;
    }

    .filter-desktop{
        display: none;
    }

}